OPENROUTER_API_KEY=
OPENROUTER_MODEL=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free
OPENROUTER_FRAME_MODEL=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free
AUTO_VIDEO_CHANNELS="https://www.youtube.com/@ApexClips4k,
https://www.youtube.com/@MMC4KHDR,
https://www.youtube.com/@4KClipsAndTrailers,
https://www.youtube.com/@FilmeyBox/videos,
https://www.youtube.com/@snok_verse,
@tiktok_username,
https://www.tiktok.com/@tiktok_username,
instagram_username,
https://www.instagram.com/instagram_username/"
BACKGROUND_MUSIC_PLAYLISTS="https://www.youtube.com/playlist?list=PLb5UZhE8lIP0PrpAyOr0Fa4arqcO8UDIk,
https://www.youtube.com/playlist?list=PLxJLvOh-uoSeDwIR83p6jfSUdL6AoJROC,
https://music.youtube.com/playlist?list=PLb5UZhE8lIP0PrpAyOr0Fa4arqcO8UDIk,
https://open.spotify.com/playlist/37i9dQZF1DXcBWIGoYBM5M,
spotify:playlist:37i9dQZF1DXcBWIGoYBM5M"
AUTO_VIDEO_CAPTION_IMAGE=
VIDEO_CUT=starting
VIDEO_LENGTH_SECONDS=30
TIKTOKSESSIONID=
INSTAGRAMSESSIONID=
AUTO_VIDEO_MAX_ENTRIES=2000
AUTO_VIDEO_MAX_DOWNLOAD_HEIGHT=1080
BACKGROUND_MUSIC_ENABLED=true
BACKGROUND_MUSIC_VOLUME=0.15
